.even-row {
    background-color: #f2f2f2;
    /* Color para filas pares */
}

.odd-row {
    background-color: #ffffff;
    /* Color para filas impares */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(34, 34, 164);
    padding: 15px;
    text-align: center;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.navbar i {
    margin-right: 5px;
}

.content {
    padding: 20px;
    text-align: center;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: calc(48% - 8px);
    margin-bottom: 16px;
}

label {
    width: 100%;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media (min-width: 768px) {
    .col {
        width: calc(48% - 8px);
        margin-bottom: 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}